<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.nf.movie.cinema.dao.CinemaDao">
<!--    <resultMap id="MTMap" type="edu.nf.movie.cinema.entity.MovieTheatre">-->
<!--        <id property="mtId" column="cinema_id"/>-->
<!--        <result property="mtName" column="cinema_name,"/>-->
<!--        <result property="mtNumber" column="cinema_number"/>-->
<!--        <result property="imgPath" column="ci_path"/>-->
<!--        <result property="cinemaAddress" column="cinema_address"/>-->
<!--    </resultMap>-->

    <resultMap id="cinemaInfoMap" type="edu.nf.movie.cinema.entity.CinemaInfo">
        <id property="cinemaId" column="cinema_id"/>
        <result property="cinemaName" column="cinema_name"/>
        <result property="cinemaAddress" column="cinema_address"/>
        <result property="cinemaNumber" column="cinema_number"/>
    </resultMap>

    <resultMap id="areaMap" type="edu.nf.movie.cinema.entity.AreaInfo">
        <id property="areaId" column="area_id"/>
        <result property="areaCounty" column="area_county"/>
        <result  property="areaProvince" column="area_province"/>
        <result property="areaCity" column="area_city"/>
    </resultMap>


    <resultMap id="serviceMap" type="edu.nf.movie.cinema.entity.CinemaService">
        <id property="csId" column="cs_id"></id>
        <result property="csName" column="cs_name"/>
        <result property="csDescribe" column="cs_describe"/>
        <result property="cinemaId" column="cinema_id"/>
    </resultMap>


<!--    //mi.movie_name,img.mi_path-->





</mapper>