<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.nf.movie.cinema.dao.CinemaDao">
    <resultMap id="MTMap" type="edu.nf.movie.cinema.entity.MovieTheatre">
        <id property="mtId" column="mt_id"/>
        <result property="mtName" column="mt_name"/>
        <result property="mtNumber" column="mt_number"/>
        <result property="areaCounty" column="area_county"/>
        <result property="areaAddress" column="area_address"/>
    </resultMap>

    <resultMap id="serviceMap" type="edu.nf.movie.cinema.entity.MyService">
        <id property="csId" column="cs_id"></id>
        <result property="csName" column="cs_name"/>
        <result property="csDescribe" column="cs_describe"/>
    </resultMap>


<!--    //mi.movie_name,img.mi_path-->
    <resultMap id="orderMap" type="edu.nf.movie.cinema.entity.OrderForm">
        <id property="tId" column="t_id"/>
        <result property="cinemaName" column="t_studios_name"/>
        <result property="gmDate" column="gm_date"/>
        <result property="orderNo" column="order_no"/>
        <result property="bfTimetable" column="bf_date"/>
        <result property="cinemaHall" column="t_cinema_hall"/>
        <result property="upSeat" column="t_seat"/>
        <result property="toNum" column="t_num"/>
        <result property="toPrice"  column="t_price"/>
        <result property="movieName"  column="movie_name"/>
        <result property="miPath" column="mi_path"/>
    </resultMap>

    <select id="getCinemaMessage"  resultMap="MTMap"  parameterType="java.lang.Integer">
   SELECT m.mt_id,m.mt_name,m.mt_number,a.area_county ,a.area_address FROM movie_theatre m
    left JOIN area_info a
    ON m.area_id=a.area_id
     where m.mt_id = ${mId}
    </select>

    <select id="getServiceList" resultMap="serviceMap" parameterType="java.lang.Integer">
        SELECT cs_id,cs_name,cs_describe FROM cinema_service
    where mt_id =${csId} and cs_status=0
    </select>

    <select id="getOrderList" resultMap="orderMap" parameterType="java.lang.Integer">
SELECT DATE_FORMAT(ot.t_date,'%Y-%c-%d')as gm_date,ot.order_no,ot.t_studios_name,DATE_FORMAT(ot.t_timetable,'%Y-%c-%d %h:%i:%s')as bf_date ,ot.t_cinema_hall,ot.t_seat,ot.t_num,ot.t_price,mi.movie_name,img.mi_path from order_ticket ot
LEFT JOIN movie_info mi
on ot.movie_id=mi.movie_id
LEFT JOIN movie_image img
on mi.movie_id=img.mi_movie_id
where ot.user_uuid=${uId}
    </select>

    <select id="getOrder" resultMap="orderMap" parameterType="java.lang.Integer">
        SELECT DATE_FORMAT(ot.t_date,'%Y-%c-%d')as gm_date,ot.order_no,ot.t_studios_name,DATE_FORMAT(ot.t_timetable,'%Y-%c-%d %h:%i:%s')as bf_date ,ot.t_cinema_hall,ot.t_seat,ot.t_num,ot.t_price,mi.movie_name,img.mi_path from order_ticket ot
LEFT JOIN movie_info mi
on ot.movie_id=mi.movie_id
LEFT JOIN movie_image img
on mi.movie_id=img.mi_movie_id
where ot.t_id=${tId}
    </select>

    
    <select id="getNameCinema" resultMap="MTMap" parameterType="java.lang.String">
     SELECT m.mt_id,m.mt_name,m.mt_number,a.area_county ,a.area_address FROM movie_theatre m
    left JOIN area_info a
    ON m.area_id=a.area_id
     where m.mt_name='${cinemaName}'
    </select>
</mapper>